<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    <link rel="stylesheet" href="../static/css/storefront.css">
</head>


<body>
    <h1>Store List</h1>
    <h2>Disclamer: For every purchase in the store, you are paying Jie money to buy the product for himself</h2>
    <div class="item-container">
        {% for item in items %}
            <div class="item-card">
                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="item-image">
                <div class="item-name">{{ item.name }}</div>
                <div class="item-description">{{ item.description }}</div>
                <div class="item-price">${{ item.price }}</div>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        {% endfor %}
    </div>
</body>
</html>
